:root {
    --bg:#212121;
}

body {
    background-color:var(--bg);
    margin: 0;
    display: grid;

}

/********** HOMEPAGE **********/
#Home {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    opacity: 100%;
}

.background-img {
    position: absolute;
    height: 100%;
    width:100%;
    opacity:50%;
    z-index: -1;
}
    
.Home-div-1 { 
    grid-area: 1 / 1 / 2 / 13; 
}

.Home-div-2 { 
    grid-area: 3 / 2 / 9 / 12;
   
}
