:root {
    --bg1:#212121;
    --bg2:#131313;
    --bg3:#000000;
}

body {
    background-color:var(--bg1);
    margin: 0;
    display: grid;

}

/********** HOMEPAGE **********/
#Home {
    height:60rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    opacity: 100%;
}

.background-img {
    position: absolute;
    height: 100%;
    width:100%;
    opacity:50%;
    z-index: -1;
}
    
    .Home-div-1 { 
        grid-area: 1 / 1 / 2 / 13; 
    }
    .Home-div-2 { 
        grid-area: 3 / 2 / 7 / 12;
    }


/********** ABOUT **********/

#About{

    height:50rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}
        
    .div1 { 
        grid-area: 2 / 4 / 8 / 5;
    }
    .div2 { 
        grid-area: 3 / 6 / 4 / 10;
    }
    /* .div3 { 
        grid-area: 4 / 6 / 8 / 12;
        background-color: green;
    }
    .div4 { 
        grid-area: 9 / 2 / 12 / 12;
        background-color:turquoise;
    } */

