:root {
    --bg1:#212121;
    --bg2:#131313;
    --bg3:#000000;
    --bg4:#323232;
}

body {
    background-color:var(--bg1);
    margin: 0;
    display: grid;

}

/********** SVG **********/
.svg-2 {
    display: none ;
}

/********** HOMEPAGE **********/
#Home {
    height:60rem;
    
}

.background-img {
    position: absolute;
    height: 100%;
    width:100%;
    opacity:50%;
    z-index: -1;
}

.img-phone{
    display: none;
}



/********** ABOUT **********/

#About{

    height:50rem;
    background-color: var(--bg1);

}

.social-img {

    display: none;
}


/********** ABOUT **********/

#social{
    margin-top: 25rem;

}


    
        
