@media only screen and (max-width: 600px) { 

    #Home {
        height: 250%;
    }

    .Home-div-1 { 
        grid-area: 1 / 1 / 2 / 13;
        background-color:yellow
    }
    
    .Home-div-2 { 
        grid-area: 3 / 3 / 7 / 11; 
        background-color:yellowgreen
    }
    
    .Home-div-3 { 
        grid-area: 8 / 4 / 10 / 10;
        background-color:orange
    }
    
    .Home-div-4 { 
        grid-area: 10 / 5 / 11 / 9;
        background-color:tan
    }
    
    .Home-div-5 { 
        grid-area: 12 / 1 / 13 / 13; 
        background-color:teal
    }
}

@media only screen and (min-width: 600px) and (max-width:991px) {

}

@media only screen and (min-width: 992px) and (max-width:1350px) {

}
