@media only screen and (max-width: 600px) { 

    #Home {
        height: 800px;
    }

    .img-pc{
        display: none; 
    }

    .img-phone{
        display: initial;
    }

    .title-name {

        margin-top: 50%;
        margin-bottom: 0;
        font-size: 5rem;
    } 

    .title-p {
        font-size: 1.2rem;
        margin-top: 0%;
    }

    #About{

        height:50rem;
    
    }

    .row {
        align-items: center;
        flex-direction: column;
        margin: 2%;
      
      }
    
    .about-img {
        height: 320px;
        width: 250px;
        border-radius: 50px;
        border: 2px solid #000000;
        box-shadow: 3px 3px #ffffff;
        margin-bottom: 20px;
        margin-top: 2rem;

    }


    .about-text1,.about-text2 {
        color: #fff;
        font-family: var(--font-2);
        font-size: 0.99rem;
    }
    
}

@media only screen and (min-width: 600px) and (max-width:991px) {

}

@media only screen and (min-width: 992px) and (max-width:1350px) {

}
