@media only screen and (max-width: 600px) { 

    #Home {
        height: 250%;
    }

    .Home-div-1 { 
        grid-area: 1 / 1 / 2 / 13; 
    }
    
    .Home-div-2 { 
        grid-area: 2 / 2 / 9 / 12;
       
    }

    .title-name {

        margin-top: 0%;
        margin-bottom: 0;
        font-size: 4rem;
    } 

    .title-p {
        font-size: 1.2rem;
        margin-top: 0%;
    }
}

@media only screen and (min-width: 600px) and (max-width:991px) {

}

@media only screen and (min-width: 992px) and (max-width:1350px) {

}
