/********** homepage **********/

/***** navbar *****/
.custom-nav {
  margin: 0 15px;

}
.nav-margin {
  margin: 0 40%;

}

.nav-link {
  color: white;
}

/* nav-button */
.nav-button {
  font-family: monospace;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background: #212121;
  box-shadow: 3px 3px #ffffff;
  cursor: pointer;
  margin: 20px 10px;
}

.nav-button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}


